---
type MetaProps = {
  title?: string;
  description?: string;
  url?: string;
  image?: string;
};

const {
  title = 'algoro.dev',
  description = 'Personal site & blog',
  url = new URL(Astro.request.url, Astro.site).toString(),
  image,
} = Astro.props as MetaProps;

const canonical = url;
---

<title>{title}</title>
<link rel="canonical" href={canonical} />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<meta name="description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={image} />}
<meta property="og:url" content={canonical} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
{image && <meta name="twitter:image" content={image} />}
